.footer {
  color: $color-default-white;
  padding: 60px 0;

  &__wrapper {
    display: flex;
    justify-content: end;
  }

  @include vp-1023 {
    padding: 40px 0;
  }

  @include vp-767 {
    padding: 20px 0;
  }
}
