.header {
  position: relative;
  color: $color-default-white;
  padding: 80px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include vp-1023 {
    padding: 40px 0;
  }

  @include vp-767 {
    padding: 20px 0;
  }
}
