.intro {
  color: $color-default-white;
  padding: 290px 0 85px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin-left: auto;
    margin-right: 90px;
  }

  &__title {
    font-family: "GothamPro", "Tahoma", sans-serif;
    font-weight: 900;
    font-size: 200px;
    line-height: 94%;
    letter-spacing: 0.02em;
    margin-left: -10px;
  }

  &__description {
    font-weight: 500;
    font-size: 48px;
    line-height: 140%;
    letter-spacing: 0.02em;
  }

  @include vp-1023 {
    padding: 150px 0 65px;

    &__wrapper {
      margin: 0;
    }

    &__title {
      font-size: 150px;
    }

    &__description {
      font-size: 32px;
    }
  }

  @include vp-767 {
    padding: 100px 0 50px;

    &__title {
      font-size: 100px;
      margin-left: -5px;
    }

    &__description {
      font-size: 24px;
    }
  }

  @include vp-374 {
    &__title {
      font-size: 70px;
    }

    &__description {
      font-size: 16px;
    }
  }
}
