.kebab-menu {
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: $trans-default;
    padding: 5px 0;

    span {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $color-default-white;
    }

    @include hover-focus {
      animation: rotateKebab 2s ease-in-out;
    }

    @keyframes rotateKebab {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
