.nav {
  margin-left: 180px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;
  }

  &__link {
    font-family: "Geometria", "Tahoma", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $color-default-white;
    transition: $trans-default;
    background: no-repeat 0 90%;
    background-image: linear-gradient(currentColor, currentColor);
    background-size: 0 1px;

    @include hover-focus {
      background-size: 100% 1px;
    }
  }

  &__toggle {
    display: none;
  }

  @include vp-1023 {
    margin-left: 0;

    &__toggle {
      display: block;
      position: relative;
      width: 30px;
      height: 30px;
      border: none;
      background-color: transparent;
      padding: 0;
      cursor: pointer;
      z-index: 25;

      svg {
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.3s ease;
      }
    }

    &__close {
      opacity: 0;
      visibility: hidden;
    }

    &__toggle.active &__close {
      opacity: 1;
      visibility: visible;
    }

    &__toggle.active &__burger {
      opacity: 0;
      visibility: hidden;
    }

    &__list {
      position: absolute;
      left: 0;
      top: 0;
      flex-direction: column;
      gap: 0;
      align-items: start;
      padding: 80px 24px 0;
      margin: 0;
      background-color: #fb6542;
      border-radius: 0 0 20px 20px;
      transition: 0.3s ease;
      transform: translateX(-100%);
      z-index: 20;
    }

    &__list.active {
      transform: translateX(0);
    }

    &__link {
      display: block;
      font-size: 20px;
      line-height: 20px;
      padding: 20px 0;
      white-space: nowrap;
    }
  }

  @include vp-767 {
    &__list {
      padding: 60px 0 0;
    }

    &__link {
      padding: 12px 20px;
      font-size: 16px;
      line-height: 20px;
    }
  }
}
