.social {
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;
  }

  &__item {
    border-radius: 50%;
    background-color: #131212;
  }

  &__link {
    display: flex;
    color: $color-default-white;
    transition: $trans-default;

    @include hover-focus {
      color: #fb6542;
    }
  }

  @include vp-767 {
    &__list {
      gap: 10px;
    }

    &__link {
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
