@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/Geometria-Regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/Geometria-Medium.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro-Black.woff2") format("woff2");
}
