.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* stylelint-disable-next-line */
  min-height: calc(100 * var(--vh, 1vh));
  background-color: #131212;
  background-image: image-set(
    url("../img/bg/main.webp") 1x,
    url("../img/bg/main.jpg") 1x
  );
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;

  @include retina {
    background-image: image-set(
      url("../img/bg/main@2x.webp") 2x,
      url("../img/bg/main@2x.jpg") 2x
    );
  }

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;

    @include vp-1023 {
      display: flex;
      align-items: center;
    }
  }
}

.rouble {
  font-family: $ff-rouble;
  /* stylelint-disable */
  text-transform: lowercase !important;
  font-weight: 400 !important;
  /* stylelint-enable */
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.scroll-lock-ios {
  position: fixed;

  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.no-transition {
  /* stylelint-disable-next-line */
  transition: none !important;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
